


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

body {
    position: relative;
    overflow: hidden;
    background-color: #18191a;
    transition: all 1s ease;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #202223 ;
    align-items: center;
    padding: 20px;
    row-gap: 1rem;
    color: #E9EDEF 
}

.navigation .nav {display: flex; gap: 2rem;}
.contact  { display: flex; } 
.contact span {padding: 0 15px 0 0;}
.dial span{
    padding: 0 5px;
    color: #087d4d;
}
.back {
    color: #087d4d;
}



.paramChat {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 10px;
    margin: 0 0 40px 0;
}

.chat {
    background-color: #262727;


    width: 60%;
    border-radius: 10px;
    color:rgb(216, 216, 216);
}

.nameAndnumber {
    display: flex;
    justify-content: space-between;
    padding: 10px;
} .nameAndnumber p {
    font-size: 0.8rem;
}

.chatting {
    padding: 10px;
    font-size: 0.9rem;
}

.info {
    text-align: center;
    color: rgb(246, 182, 86);
    background: #262727;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.info p {
    font-size: 0.6rem;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.tarikh {
    text-align: center;
    color: #d8d8d8;
    font-size: 0.6rem;
    background-color: #202223;
}

.bg {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: "coolvetica";
    transition: all 1s ease;
}


.can-scroll {
    overflow-y: auto;
    height: 768px;
    padding: 0 0 60px 0;
} .can-scroll::-webkit-scrollbar {
    display: none;
}


.center-element-target h1, .center-element-target p{font-family: "coolvetica";}
.center-element-target h1 {font-size: 3rem;}

.center-element-target {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: -100%;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 0 50px;
    gap: 2rem;
    transition: all 1s ease;
}

@font-face {
    font-family: "coolvetica";
    src: url(./Coolvetica\ Rg.otf);
}

@media (max-width: 768px) {
    .can-scroll {
        height: 768px;
    }
}